*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size:16px;
}

body{
    background-color:#fff;
    font-family: 'Roboto', sans-serif;
}

/* header{
 
} */


h1,h2,h3{
    text-align: center;
    /* margin: .5% 0%; */
}
/*******************DIV HEADER******************/

.header{
    background-color: yellow;
    height: 100vh;
    /* margin: 2% 1% 0% 1%; */
    position: relative;
}


.header__heading{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    text-align:center;
}

@media only screen and (max-width: 600px) {
    .header__heading{
        display: inline-block;
        width: 100%;
    }
    
}


/*************************JUAN STORY PAGE***************************/
.juan__header{
    background-color: #FFEF78;
    height:120vh;
}


.form{
    position: relative;
    color:#fff;
}

.img{
    
    height: 10%;
    width: 10%;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
}

/* dfn:hover{

} */




@media only screen and (max-width: 600px) {
    .img{
        height: 10%;
        width: 10%;
    }

    .juan__header {
      height: 160vh;
    }
}

#juan{
    height: 3rem;
    width: 3rem;

}

p{

    margin:auto;
    width: 80%;
    text-align:center;
    
}

.tasks{
    height: 100vh;
    /* padding: 1rem; */
   
}
.task__paragraph{
    text-align: left;
    text-align: center;

}

.tasks__label{
    display: block;
    /* width: 50%; */
    /* background-color: blue; */
    text-align: center;
    padding: 5%;
}

#task1__answer{
    text-align:center;
    margin: 0 auto;
    display: block;
    width: 50%;
    border: 2px solid rgb(208, 255, 0);
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    #task1__answer{
        width: 100%;
        padding: .5rem;
    }

}

#task2__answer{
    text-align:center;
    margin: 0 auto;
    display: block;
    width: 50%;
    border: 2px solid rgb(208, 255, 0);
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    #task2__answer{
        width: 100%;
        padding: .5rem;
    }

}

#task3__answer{
    text-align:center;
    margin: 0 auto;
    display: block;
    width: 50%;
    border: 2px solid rgb(208, 255, 0);
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    #task3__answer{
        width: 100%;
        padding: .5rem;
    }

}


#task4__answer{
    text-align:center;
    margin: 0 auto;

    display: block;
    width: 50%;
    border: 2px solid rgb(208, 255, 0);
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    #task4__answer{
        width: 100%;
        padding: .5rem;
    }

}



#task5__answer{
    text-align:center;
    margin: 0 auto;

    display: block;
    width: 50%;
    border: 2px solid rgb(208, 255, 0);
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    #task5__answer{
        width: 100%;
        padding: .5rem;
    }

}


#task6__answer{
    text-align:center;
    margin: 0 auto;

    display: block;
    width: 50%;
    border: 2px solid rgb(208, 255, 0);
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    #task6__answer{
        width: 100%;
        padding: .5rem;
    }

}



#task7__answer{
    text-align:center;
    margin: 0 auto;
    display: block;
    width: 50%;
    border: 2px solid rgb(208, 255, 0);
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    #task7__answer{
        width: 100%;
        padding: .5rem;
    }

}

#task8__answer{
    text-align:center;
    margin: 0 auto;
    display: block;
    width: 50%;
    border: 2px solid rgb(208, 255, 0);
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    #task8__answer{
        width: 100%;
        padding: .5rem;
    }

}


#task9__answer{
    text-align:center;
    margin: 0 auto;
    display: block;
    width: 50%;
    border: 2px solid rgb(208, 255, 0);
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    #task9__answer{
        width: 100%;
        padding: .5rem;
    }

}

#task10__answer{
    text-align:center;
    margin: 0 auto;

    display: block;
    width: 50%;
    border: 2px solid rgb(208, 255, 0);
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    #task10__answer{
        width: 100%;
        padding: .5rem;
    }

}


/*******************TASK1**************************/
.form__task1{
    margin-top:-1%;
    padding: 25% 5% ;
    height: 100%;
    background-image:linear-gradient(to bottom, rgba(255, 0, 0, 0.472) , rgba(0, 0, 255, 0.616)),url(../images/vote-1.png);
    background-position:center;
    color:#fff;
    text-shadow: 2px 2px #000;
    background-repeat: no-repeat;
    background-size: cover;

}
.header__task1{
    /* background-color: yellow; */
    text-align: center;
    
}

@media only screen and (max-width: 600px) {
    .form__task1{
    margin-bottom:-10%;
    }
}

/*******************TASK2**************************/
.form__task2{
    margin-top:-2%;

    padding: 25% 5%;
    height: 100%;
    text-shadow: 2px 2px #000;
    /* background-color: green; */
    background-image:linear-gradient(to bottom, rgba(255, 0, 21, 0.472) , rgba(0, 0, 255, 0.616)),url(../images/smart-voter.png);
    background-position:center;
    background-size: cover;
   
}

@media only screen and (max-width: 600px) {
    .form__task2{
    background-position:-400px 0px;
    background-position: no-repeat;
    margin-bottom:-10%;
    }
}


/*******************TASK3**************************/
.form__task3{
    margin-top:-2%;
    background-image:linear-gradient(to bottom, rgba(255, 0, 21, 0.472) , rgba(0, 0, 255, 0.616)),url(../images/troll.png);
    background-position:center;
    background-size: cover;
    text-shadow: 2px 2px #000;
    padding: 25% 5%;
    height: 100%;
    /* background-color: green; */

}

/* @media only screen and (max-width: 600px) {
    .form__task3{
    
    }
} */


/*******************TASK4**************************/
.form__task4{
    padding: 25% 5%;
    height: 100%;
    background-color: brown;
    text-shadow: 2px 2px #000;
    background-image:linear-gradient(to bottom, rgba(255, 0, 21, 0.472) , rgba(0, 0, 255, 0.616)),url(../images/check&Balance.png);
    background-position:center;
    background-size: cover;
  

}

/*******************TASK5**************************/

.form__task5{
    background-image:linear-gradient(to bottom, rgba(255, 0, 21, 0.472) , rgba(0, 0, 255, 0.616)),url(../images/goodGovernance.png);
    background-position:center;
    background-size: cover;
    text-shadow: 2px 2px #000;
  padding: 25% 5%;
    height: 100%;

}


/*******************TASK6**************************/

.form__task6{
    background-image:linear-gradient(to bottom, rgba(255, 0, 21, 0.472) , rgba(0, 0, 255, 0.616)),url(../images/Nepotism.png);
    background-position:center;
    background-size: cover;
    text-shadow: 2px 2px #000;
  padding: 25% 5%;
    height: 100%;

}



/*******************TASK7**************************/

.form__task7{
    background-image:linear-gradient(to bottom, rgba(255, 0, 21, 0.472) , rgba(0, 0, 255, 0.616)),url(../images/greenGrassWithThree.png);
    background-position:center;
    background-size: cover;
    text-shadow: 2px 2px #000;
  padding: 25% 5%;
    height: 100%;

}


/*******************TASK8**************************/

.form__task8{
    background-image:linear-gradient(to bottom, rgba(255, 0, 21, 0.472) , rgba(0, 0, 255, 0.616)),url(../images/automation.png);
    background-position:center;
    background-size: cover;
    text-shadow: 2px 2px #000;
  padding: 25% 5%;
    height: 100%;

}


/*******************TASK8**************************/

.form__task9{
    background-image:linear-gradient(to bottom, rgba(255, 0, 21, 0.472) , rgba(0, 0, 255, 0.616)),url(../images/automation.png);
    background-position:center;
    background-size: cover;
    text-shadow: 2px 2px #000;
  padding: 25% 5%;
    height: 100%;

}



/*******************TASK10**************************/

.form__task10{
    background-image:linear-gradient(to bottom, rgba(255, 0, 21, 0.472) , rgba(0, 0, 255, 0.616)),url(../images/philFlag.png);
    padding: 25% 5%;
    height: 100%;

}
/*******************FOOTER************************/
footer{
    padding: 2rem;
    height: 20vh;
    text-align: center;
}