*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size:16px;
}

body{
    background-color:lightblue;
    font-family: 'Roboto', sans-serif;
}

/* header{
 
} */


h1,h2,h3{
    text-align: center;
    margin: .5% 0%;
}
/*******************DIV HEADER******************/

.header{
    background-color: yellow;
    height: 100vh;
    /* margin: 2% 1% 0% 1%; */
    position: relative;
}


.header__heading{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    text-align:center;
}


/*************************JUAN STORY PAGE***************************/
.juan__header{
    background-color: yellow;
    height:100vh;
}


.form{
    position: relative;
}

.img{
    
    background-color: blue;
    height: 40%;
    width: 40%;
    text-align: center;
    margin: 0 auto;
}



@media only screen and (max-width: 600px) {
    .img{
        height: 30%;
        width: 40%;
    }

    .juan__header {
      height: 200vh;
    }
}

#juan{
    height: 3rem;
    width: 3rem;

}

p{

    margin:auto;
    width: 80%;
    text-align:center;
    
}

.tasks{
    height: 100vh;
    padding: 1rem;
   
}
.task__paragraph{
    text-align: left;
    text-align: center;

}

.tasks__label{
    display: block;
    /* width: 50%; */
  
  
    /* background-color: blue; */
    text-align: center;
}

#task1__answer{
    text-align:center;
    margin: 0 auto;

    display: block;
    width: 30%;
}

#task2__answer{
    text-align:center;
    margin: 0 auto;
    display: block;
    width: 30%;
}

#task3__answer{
    text-align:center;
    margin: 0 auto;

    display: block;
    width: 30%;
}


#task4__answer{
    text-align:center;
    margin: 0 auto;

    display: block;
    width: 30%;
}


/*******************TASK1**************************/
.form__task1{
    height: 100vh;
}
.header__task1{
    background-color: yellow;
    text-align: center;
    
}


/*******************TASK2**************************/
.form__task2{
    height: 100vh;
}
/*******************TASK3**************************/
.form__task3{
    height: 100vh;
}

/*******************TASK4**************************/
.form__task4{
    height: 100vh;
}
/*******************FOOTER************************/
footer{
    padding: 2rem;
    height: 20vh;
    text-align: center;
}