*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size:16px;
}

body{
    background-color:#fff;
    font-family: 'Roboto', sans-serif;
}

/* header{
 
} */


h1,h2,h3{
    text-align: center;
    margin: .5% 0%;
}
/*******************DIV HEADER******************/

.header{
    background-color: yellow;
    height: 100vh;
    /* margin: 2% 1% 0% 1%; */
    position: relative;
}


.header__heading{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    text-align:center;
}

@media only screen and (max-width: 600px) {
    .header__heading{
        display: inline-block;
        width: 100%;
    }
    
}


/*************************JUAN STORY PAGE***************************/
.juan__header{
    background-color: #FFEF78;
    height:120vh;
}


.form{
    position: relative;
}

.img{
    
    height: 10%;
    width: 10%;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
}

/* dfn:hover{

} */




@media only screen and (max-width: 600px) {
    .img{
        height: 10%;
        width: 10%;
    }

    .juan__header {
      height: 160vh;
    }
}

#juan{
    height: 3rem;
    width: 3rem;

}

p{

    margin:auto;
    width: 80%;
    text-align:center;
    
}

.tasks{
    height: 100vh;
    /* padding: 1rem; */
   
}
.task__paragraph{
    text-align: left;
    text-align: center;

}

.tasks__label{
    display: block;
    /* width: 50%; */
  
  
    /* background-color: blue; */
    text-align: center;
}

#task1__answer{
    text-align:center;
    margin: 0 auto;
    display: block;
    width: 50%;
    border: 2px solid rgb(208, 255, 0);
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    #task1__answer{
        width: 100%;
        padding: .5rem;
    }

}

#task2__answer{
    text-align:center;
    margin: 0 auto;
    display: block;
    width: 50%;
    border: 2px solid rgb(208, 255, 0);
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    #task2__answer{
        width: 100%;
        padding: .5rem;
    }

}

#task3__answer{
    text-align:center;
    margin: 0 auto;

    display: block;
    width: 50%;
    border: 2px solid rgb(208, 255, 0);
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    #task3__answer{
        width: 100%;
        padding: .5rem;
    }

}


#task4__answer{
    text-align:center;
    margin: 0 auto;

    display: block;
    width: 50%;
    border: 2px solid rgb(208, 255, 0);
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    #task4__answer{
        width: 100%;
        padding: .5rem;
    }

}


/*******************TASK1**************************/
.form__task1{
    padding: 2%;
    height: 100vh;
    background-image:linear-gradient(to bottom, rgba(255, 0, 0, 0.472) , rgba(0, 0, 255, 0.616)),url(../images/pexels-element-digital-1550337.jpg);
    background-position:center;
    color:#fff;
    background-repeat: no-repeat;
    background-size: cover;

}
.header__task1{
    /* background-color: yellow; */
    text-align: center;
    
}


/*******************TASK2**************************/
.form__task2{
    height: 100vh;
}
/*******************TASK3**************************/
.form__task3{
    height: 100vh;
}

/*******************TASK4**************************/
.form__task4{
    height: 100vh;
}
/*******************FOOTER************************/
footer{
    padding: 2rem;
    height: 20vh;
    text-align: center;
}